[2020-03-19 19:10] rcurtin opened #1 "Finish transition to models/examples repository"
I just wanted to create an issue to point out that there are some cleanup bits that need to be done in this repository after the changes we decided to make to the repository structure in mlpack/examples#61.

This is the "models" repository, which will contain ready-to-use implementations of popular machine learning model types that aren't available in the normal mlpack codebase.  These can be used

[2020-03-20 03:36] kartikdutt18 commented on #1
Thanks @rcurtin for opening this issue. Maybe it makes sense to remove one example at a time and replace it with the new model because when I made the changes earlier for all examples I had added 1700 lines and removed about 6k lines which would be difficult to review, so I'll open a PR today to replace mnist portion of the repo. I'll also try to write cmake such that it matches for git submodules

[2020-03-20 23:22] rcurtin commented on #1
Agreed, sounds good.  Getting the submodule part set up might require a little bit more work.  (@shrit maybe you have some input on the best way to do that?)  Basically, if we use submodules, it would probably mean that users can't build from this repository directly.  I guess that's okay?

I opened a PR to update the readme in #2.

[2020-03-21 09:48] shrit commented on #1
@rcurtin The good news is that we can build from the repository itself, even if we add it as a submodule (Assuming as before that mlpack and all other dependencies are installed correctly). In all cases, we need to have a cmake build system for the models, which is going to be used by mlpack cmake to build all the models if a user wants.
I can work on a pull request on mlpack to add this repositor

[2020-03-24 01:50] rcurtin commented on #1
@shrit that sounds good, we can try that and see how it works.  It might be good to wait until we finish transitioning this repository so that it has a bunch of bindings that use the CLI framework in it though?  Either way is fine I guess. :)

[2020-03-24 11:23] shrit commented on #1
@rcurtin Yes, I am able to integrate models into `mlpack`. The main issue so far is the compilation order (`models` are compiling before `mlpack`). Since `models` cmake system is going to be modified in all cases. I think I am going to wait until the model repository converge

[2020-03-26 02:07] rcurtin commented on #1
@shrit take a look at the end of `src/mlpack/CMakeLists.txt`, it could cause some problems.  Basically, the `if (BUILDING_PYTHON_BINDINGS)` section and `post_markdown_setup()` need to be called after all bindings are added.  But we would have to add all `models/` bindings before calling this code.  So some restructuring of the core mlpack CMake code might be necessary (that's not a problem though)

[2020-05-31 12:05] sahooora opened #14 "run models"
How can we run the models?
I want to run vae model but It's not specified how!

[2020-05-31 12:09] kartikdutt18 commented on #14
Hi @sara-hoseininasab, This repo is undergoing restructuring right now, so that portion was edited in the readme. Sorry about that. We do have a completely working repository [here](https://github.com/mlpack/examples/). It has a make file and scripts to download datasets and run models as well. Here is the VAE [example](https://github.com/mlpack/examples/tree/master/mnist_vae_cnn).

[2020-05-31 12:28] sara-hoseininasab commented on #14
Thanks!
After running mnist_vae_cnn I got this error: [FATAL] Cannot open file './../data/mnist_full.csv'.
I should mention that before running it I executed download_dataset.py in the tools directory.

[2020-05-31 12:30] kartikdutt18 commented on #14
Can you check that outside vae directory there is a data folder with mnist_full.csv?
Regards.

[2020-05-31 12:34] sara-hoseininasab commented on #14
There doesn't exist mnist_full.csv in the data directory. Just mnist_test.csv and mnist_train.csv are included in this directory.

[2020-05-31 12:36] kartikdutt18 commented on #14
Hmm, Let me try replicating the issue.

[2020-05-31 12:37] sara-hoseininasab commented on #14
Thanks!

[2020-05-31 15:38] shrit commented on #14
@kartikdutt18 I do not remember what there was in `mnist_full.csv`. I can understand from the name that it merges both of the train and test files.
@sara-hoseininasab You can replace `mnist_full.csv` by `mnist_train.csv` or merge manually both file and create a `mnist_full.csv`

[2020-05-31 15:41] kartikdutt18 commented on #14
Right, I am facing electricity outage here, Most probably its mnist_train or mnist_all. Once I'm back, I'll try to find out what was there in the file.

[2020-05-31 15:43] shrit commented on #14
@kartikdutt18 I will handle it, no worries.

[2020-05-31 15:45] kartikdutt18 commented on #14
@shrit, Awesome! Thanks a lot

[2020-05-31 16:04] shrit commented on #14
@kartikdutt18 I open a pull request here https://github.com/mlpack/examples/pull/92
Still, during the execution, I had this issue: https://github.com/mlpack/examples/issues/84

[2020-05-31 16:05] kartikdutt18 commented on #14
Hmm, Let me look into that now.

[2020-05-31 16:17] kartikdutt18 commented on #14
Hey @shrit, I just downloaded all the datasets. I also got mnist_full.csv in my datafolder.

[2020-05-31 16:25] shrit commented on #14
Hmm, are you sure this is not an old one?

[2020-05-31 16:32] kartikdutt18 commented on #14
Yeah looks that way. Sorry about that.

[2020-05-31 16:38] kartikdutt18 commented on #14
I am able to fix this issue. Another thing is mnist_train has one extra labels column. We also need to drop that.

[2020-05-31 16:55] shrit commented on #14
@kartikdutt18  You meant the first column as parsed as in this line https://github.com/mlpack/examples/blob/fbce4998c09abe433c42f2e1519df1b9c94aba5f/mnist_simple/mnist_simple.cpp#L76
Or there is another one?

[2020-05-31 16:56] kartikdutt18 commented on #14
Right this one, Labels are not needed vae so maybe mnist_full was the csv with train without labels.

[2020-05-31 17:25] sara-hoseininasab commented on #14
@shrit Thanks.
I replaced `mnist_train.csv` by `mnist_ful.csv` and I got this error:
[FATAL] The output width / output height is not possible given the other parameters of the layer.

terminate called after throwing an instance of 'std::runtime_error'

[2020-05-31 17:28] shrit commented on #14
@kartikdutt18 Exactly, in this case, I will remove it using Armadillo from inside mnist_vae.
@sara-hoseininasab we are working on this issue, you need to remove the first columns of this dataset using armadillo.

[2020-05-31 17:29] kartikdutt18 commented on #14
@sara-hoseininasab, The padding needs to be valid in transposed layer. Earlier I think boost visitors took care of that but now we need to specify it manually. I'll open a PR shortly to fix that.

[2020-05-31 17:32] sara-hoseininasab commented on #14
@shrit I am completely new in this scope. Could you please tell me how can I remove the first columns of the dataset using armadillo?
regards

[2020-05-31 17:34] kartikdutt18 commented on #14
I think you can add the following line :
[code]
at line 65.

[2020-05-31 17:41] sara-hoseininasab commented on #14
It should be added in mnist_vae_cnn.cpp file, am I right?
I did it but I still get the same error.

[2020-05-31 17:46] kartikdutt18 commented on #14
Right, To fix that error you need to make the following change :
[code]
Replace the similar layers with this one.

[2020-05-31 17:54] sara-hoseininasab commented on #14
@kartikdutt18 Thank, the previous error has been solved. But I get the new one:
error: subtraction: incompatible matrix dimensions: 784x28 and 59999x28
terminate called after throwing an instance of 'std::logic_error'
  what():  subtraction: incompatible matrix dimensions: 784x28 and 59999x28
Aborted (core dumped)

[2020-05-31 18:01] shrit commented on #14
784x28 is the size of the older mnist_full matrix.
@kartikdutt18  I do not know how VAE works in detail, but the neural models inside seem to be tailored to the old dataset.

[2020-05-31 18:05] kartikdutt18 commented on #14
Right using mnist_full.csv doesn't give this error.

[2020-05-31 18:07] sara-hoseininasab commented on #14
As you said I renamed mnist_train.csv to mnist_full.csv and then run the model.

[2020-05-31 18:09] kartikdutt18 commented on #14
The valid part of the error is fixed in mlpack/mlpack#2436.

[2020-05-31 18:14] kartikdutt18 commented on #14
Could you download the dataset from [here](https://drive.google.com/drive/folders/1GL0Somp6Exupb-vdI0VwDiZUKIaHgPfo?usp=sharing).

[2020-05-31 18:15] kartikdutt18 commented on #14
@kartikdutt18 I do not know how VAE works in detail, but the neural models inside seem to be tailored to the old dataset.

I'll try to figure that out too.

[2020-05-31 18:17] shrit commented on #14
@kartikdutt18 Actually it is the input size 28 * 28 = 784
It seems that the entire dataset treated as an image

[2020-05-31 18:18] kartikdutt18 commented on #14
Right. VAE model takes in an image and outputs an image.

[2020-05-31 18:33] sara-hoseininasab commented on #14
@kartikdutt18
I downloaded it. with the new mnist_full.csv I got the below error:
error: subtraction: incompatible matrix dimensions: 784x50 and 783x50
terminate called after throwing an instance of 'std::logic_error'
  what():  subtraction: incompatible matrix dimensions: 784x50 and 783x50

[2020-05-31 18:37] kartikdutt18 commented on #14
Ahh, You don't have to remove columns with this one. Just make the change in model only.

[2020-05-31 18:44] sara-hoseininasab commented on #14
@kartikdutt18 Thanks. I fixed it and run again. I encountered with core dumped:
Training ...
Initial loss -> 726.155
terminate called after throwing an instance of 'std::bad_array_new_length'
  what():  std::bad_array_new_length
Aborted (core dumped)

Thanks

[2020-05-31 18:46] kartikdutt18 commented on #14
I'll look into that tomorrow. Sorry about the mess though, we will update the ReadMe and get all examples running. Thanks a lot for being so patient.

[2020-05-31 18:48] sara-hoseininasab commented on #14
Ok, thank you so much.

[2020-06-01 06:36] kartikdutt18 commented on #14
Hey @sara-hoseininasab, There are couple of more things that would need to be fixed. I'll create a PR today with simple VAE (non cnn type). You can use that till the issue is resolved.

[2020-06-01 10:33] sara-hoseininasab commented on #14
Hi, @kartikdutt18 Thank you so much.
I'm waiting. Please let me know when it's ready.
Regards

[2020-06-01 12:22] kartikdutt18 commented on #14
I created a branch [here](https://github.com/kartikdutt18/examples/tree/Add-VAE-Back) that has normal vae but it still segfaults. I don't know why. I tried rest of the examples again and they work fine. The problem lies with vae and that I think requires a bit of debugging.

[2020-06-01 19:19] sara-hoseininasab commented on #14
@kartikdutt18 Please let me know when the bug is fixed.
Regards

[2020-06-08 14:36] sara-hoseininasab commented on #14
@kartikdutt18 Any news about the vae?

[2020-06-08 14:38] kartikdutt18 commented on #14
In the source of mlpack, the parameter error is fixed. The only error left is segmentation fault. I'll try to find why that happens in the next couple of days.

[2020-06-12 04:40] kartikdutt18 opened #21 "Adding More Augmentation."
Hey everyone,
Recently Augmentation class was added. It currently supports only resize function. This issue aims to add other augmentations as well.
Background :
1. Each augmentation must be accessible by passing string to the class.
2. Each Transform should have same function definition as ResizeTransform.
3. Idea is to create a map of function pointers and call respective function based upon the

[2020-06-12 04:43] kartikdutt18 opened #22 "Add convert function."
Recently we added support to parse XML files in object detection type datasets. It would nice to have a conversion script that convert CSV, object-detection-tf type, json to XML and vice-versa. A great example is roboflow.ai's convert feature.
Let me know if any clarification is needed.
Thanks.

[2020-06-25 23:45] RakeshBhugra commented on #21
are we going for something like keras ImageGenerator

tf.keras.preprocessing.image.ImageDataGenerator(
    featurewise_center=False, samplewise_center=False,
    featurewise_std_normalization=False, samplewise_std_normalization=False,
    zca_whitening=False, zca_epsilon=1e-06, rotation_range=0, width_shift_range=0.0,
    height_shift_range=0.0, brightness_range=None, shear_range=0.0, zoom_range=0

[2020-06-26 05:13] kartikdutt18 commented on #21
Hey @RakeshBhugra, Right. We already have LoadFromDirectory functionality and augmentation class that currently only supports resize function. The issue aims to add more functions like horizontal-flip etc. Usage about the functions implemented can be [found here](https://github.com/mlpack/models/wiki). So you would have to open a PR adding some of the augmentations that you mentioned. Welcome to t

[2020-07-08 16:31] shrit commented on #14
keep open

[2020-07-12 14:59] kartikdutt18 commented on #22
Keep Open.

[2020-07-28 17:58] heisenbuug commented on #22
Hey @kartikdutt18 I want to start working on this issue, I hope it's still open...

[2020-07-28 18:00] kartikdutt18 commented on #22
Hey @heisenbuug, please feel to pursue it, it's still open.

[2020-07-28 18:04] heisenbuug commented on #22
Can you just get me the link for that roboflow.ai's convert function?

[2020-07-29 03:18] kartikdutt18 commented on #22
Sure, Could select the [convert](https://roboflow.ai) option in the link.

[2020-07-29 17:20] heisenbuug commented on #22
@kartikdutt18 we need something like this https://github.com/xhallix/PyCsv2Xml right? But also for all the specified formats.

[2020-07-30 20:31] heisenbuug commented on #22
I will start working on converting csv to xml.

- I have a doubt, do I have yo write this in C++ only?

- And where exactly do you wanna put this convert function?

[2020-07-31 04:01] kartikdutt18 commented on #22
I think we could add this to the utility folder or maybe create a new directory.

We already use boost xml parser, Refer LoadObjectDetectionDataLoader in Dataloader class.

[2020-08-01 11:47] heisenbuug commented on #22
@kartikdutt18 Can I get some example for the conversion? Like a dataset where we have both the formats, csv as well as xml just for the reference. Honestly I haven't worked with xml files in object detection so I need to go through an example to understand it's working.

[2020-08-01 19:09] heisenbuug commented on #22
- I am done with the main logic for converting cvs to xml files.
- This is the [link](https://github.com/heisenbuug/Dataset_Converter) to the code and I have also included example input and output in the same repo.
- Some things are still remaining, for example when we have same file names its creating multiple xml files rather than appending in the same one, I will handle that and other cases.

F

[2020-08-02 12:35] kartikdutt18 commented on #22
Looks good to me, maybe in the PR we could wrap it in a class and have a member function called CSVToXML or some better name.

[2020-08-03 17:22] heisenbuug commented on #22
- I wrapped it up in a class, I named the main function as csvxmlHelper() which is private.
- I made a public function convert, what I have in my mind is we can pass two parameters to this convert function(apart from path) and based on these parameters(which will be input file type and output file type) it will decide which helper fucntion to call.
`convert(path, csv, xml)`
- I think this should b

[2020-08-04 15:57] kartikdutt18 commented on #22
Sure, makes sense.

[2020-08-04 18:37] heisenbuug opened #26 "Where to put convert class"
I have implemented a Convert class as per the requirement of the [issue](https://github.com/mlpack/models/issues/22)
In which directory should we put this new code?
[Link](https://github.com/heisenbuug/Dataset_Converter) to my implementation.
Once decided I can make a PR accordingly.

[2020-08-07 17:12] rcurtin commented on #14
Just wanted to check in @shrit and @kartikdutt18, do you think that we have resolved this issue?  Or is there work we still need to do to be able to run these models?

[2020-08-07 17:16] kartikdutt18 commented on #14
Hey @rcurtin, There is partial fix made in mlpack/mlpack#2436. However, The VAE Model still segfaults. Since this has more to do with the examples repo, we also have an issue [here](https://github.com/mlpack/examples/issues/84).

[2020-08-08 01:41] rcurtin commented on #14
No problem @kartikdutt18, I just wanted to check if the issue was still relevant.  I suppose we should leave it open until mlpack/examples#85 is fixed, then we can propagate that fix to this repository?

[2020-08-08 02:47] kartikdutt18 commented on #14
Sure, Sounds good to me.

[2020-08-12 13:31] kartikdutt18 commented on #26
Hey @heisenbuug, Sorry for the late reply. I'm completely forgot about this. What do you thing about having a separate directory like dataset_utils or something.

[2020-08-12 20:46] heisenbuug commented on #26
Hey @kartikdutt18 , it's fine. Yea...I think it would totally make sense to do that...I will make a PR accordingly .

[2020-08-17 12:55] kartikdutt18 commented on #21
Keep open.

[2020-09-07 09:30] shrit commented on #14
Keep open

[2020-09-17 02:19] kartikdutt18 commented on #21
Keep open.

[2020-09-28 17:09] RituRajSingh878 opened #36 "make showing error"
I'm new to mlpack and trying to build and make the mlpack/models but I'm getting the following error.

[code]

[2020-09-28 17:12] RituRajSingh878 commented on #36
[code]
build for the mlpack/model.
Machine - ubuntu 18 LTS

[2020-09-28 17:16] RituRajSingh878 commented on #21
I am new here so it will take some to get familiar with mlpack. I am interested in machine learning so I am here to contribute. Also, I would like to work on this issue if open.
Thanks

[2020-09-28 17:17] kartikdutt18 commented on #21
Hey @RituRajSingh878, Welcome to the community. This issue is still open. Feel free to work on this.
Thanks a lot.

[2020-09-28 20:15] shrit commented on #36
@RituRajSingh878 can you do `locate libboost_unit_test_framework.so` and show us the results please?

[2020-09-29 02:50] RituRajSingh878 commented on #36
@shrit I found the problem and able to solve it. I got help from your message as during the build, the used boost lib was from the root and I was building it in virtual env. So due to that, it was showing `undefined reference to boost`. After removing the root's boost, It is selecting the boost from virtual env. Now, I am able to do `make `successfully. So we can close this issue.
Thanks

[2020-10-02 16:16] RituRajSingh878 commented on #21
https://github.com/mlpack/models/blob/27c481426958b6090ec250a23a0f5cbf3aefeeef/augmentation/augmentation_impl.hpp#L29-L48

@kartikdutt18 Can you please explain this part of the code? I am not able to understand why are we storing it in an `unordered map` and what's the use of it?
 Also, here we are applying `resize` augmentation so if I will implement other augmentations, then should I apply other

[2020-10-04 18:03] kartikdutt18 commented on #21
Hey @RituRajSingh878, I use a map so that each string could correspond to a function. This would prevent us from writing multiple if conditions.
Simply put, `augmentations[stringAugmentationToDoX] ----> FunctionThatDoesX`.
I think we can resize before (I think that is the case now) and we can leave it as it is.

[2020-10-04 18:39] RituRajSingh878 commented on #21
okay, I got the idea behind it. Now, my question is, we are creating `augmentationMap` in line 27. Inside the loop, we have
`if (augmentationMap.count(augmentations[i])) `. Now `augmentationMap.count(augmentations[i])` value will be either `1` or `0` if element is present or not present. But `augmentationMap` was never initialized and have zero no. of elements so `augmentationMap.count(augmentatio

[2020-10-04 18:40] kartikdutt18 commented on #21
Yes the reason is because we don't have any augmentations yet other than resize. It was done to set the structure.

[2020-10-04 18:57] RituRajSingh878 commented on #21
okay, got it. I will open a pr tomorrow.

[2020-10-07 16:44] #36 closed

[2020-10-11 21:57] shrit commented on #26
@kartikdutt18 Do you need to keep this one open? Thanks

[2020-10-11 22:11] heisenbuug commented on #26
No, we don't need this one open. Sorry for not updating,

[2020-10-11 22:11] #26 closed

[2020-10-12 04:41] kartikdutt18 opened #39 "Implementing YOLOv4"
Hey everyone, I will be working on implementing YOLOv4 in mlpack for a college project. I'm opening this issue to prevent conflicts incase someone also starts working on it.

Thanks.

[2020-12-02 23:35] InterTriplete2010 opened #40 "input for add<Convolution> mlpack"
I have two quick questions about the add<Convolution> and I cannot find the answer in the documentation. Say that I pass a vector to add<Convolution> of length 4130, which I have obtained from "flattening" a matrix 14x295.  Just to clarify, when I say that I pass a vector, I mean that I have a csv file (same structure as in https://github.com/mlpack/examples/blob/master/mnist_cnn/mnist_cnn.cpp) wi

[2020-12-07 15:48] Sirish07 commented on #21
Hey @kartikdutt18, I am Sirish Gambhira. I am new to the community and this issue sounds interesting. I understand that horizontal and vertical flips in this issue are being taken care in the PR #38. Maybe, can we add rotation also (like arbitrary angle) which can be useful for image datasets. Let me know if this sounds good.

[2020-12-10 14:04] Sirish07 commented on #21
@RituRajSingh878 are you still working on this? If not I shall takeup the issue.

[2020-12-11 16:19] kartikdutt18 commented on #21
Hey @Sirish07, Sure, feel free to take up other augmentations. Adding rotation based augmentations sounds good to me.
Regards,
Kartik.

[2020-12-12 07:18] Sirish07 commented on #21
Hey @kartikdutt18 , thanks for getting back. I added gaussian blurring and modified the current augmentation_impl.hpp and augmentation.hpp files. I would like to know what the next step is. Should I open a PR or should I test my implementation (if so, kindly explain how (I couldn't find any docs)). Thanks in advance.

[2020-12-13 22:06] rcurtin commented on #40
This should be clarified by mlpack/mlpack#2753. :+1:

[2020-12-15 16:45] InterTriplete2010 opened #42 "input for RNN (LSTM) when using MEL-coefficients for speech recognition"
Ok, so I have another question related to the input of the neural network. This time is about RNN (LSTM). I am trying to do some simple speech recognition using MEL-coefficients. I am trying to adapt the example of the stock prediction (https://github.com/mlpack/examples/blob/master/lstm_stock_prediction/lstm_stock_prediction.cpp) to my needs, but I am having problems figuring out how to properly

[2020-12-30 23:43] rcurtin commented on #42
Hi @InterTriplete2010, sorry for the slow response on this one!  I believe that the shape that you are looking for will be an `arma::cube` of 20 rows x 2000 columns x 50 slices.  That is, each row represents a dimension of a single sample.  So in your case you say that there are 20 Mel coefficients in each sample.  Thus, you would have 20 rows.  Each column should represent a sequence/audio file (

[2020-12-31 19:02] InterTriplete2010 commented on #42
Thank you 👍

[2021-01-19 17:14] Nerdyvedi opened #43 "Alpha matting model"
Alpha matting refers to the problem of extracting foreground from an image. Given an input image, and a trimap, the alpha matting model would extract the foreground.

Would it be of any use if I could add an implementation of [Global sampling based method for Alpha matting](http://mmlab.ie.cuhk.edu.hk/archive/2011/cvpr11matting.pdf)?

I have also written a [blog](https://medium.com/vedacv/paper-su

[2021-02-06 20:05] #42 closed

[2021-02-18 17:39] RishabhGarg108 commented on #21
Hii @kartikdutt18 , I was went through the GSOC idea of **"Ready to use models in mlpack"** and I really liked it. I have been a contributor to mlpack main repo but I am new to this models repo and would like to get familiar with it. So, can I take up this issue? I would like to get started with horizontal/vertical flip. Can I take this ?
Warm regards.

[2021-02-18 17:40] kartikdutt18 commented on #21
Hey @RishabhGarg108, Please feel free to pursue it.
Regards,
Kartik.

[2021-02-18 17:43] RishabhGarg108 commented on #21
Thanks for the quick response. I can see that there are some incomplete PRs. So, I will try to take some motivation from them :)

[2021-02-18 23:06] #40 closed

[2021-02-19 07:02] RishabhGarg108 opened #44 "Documentation error in augmentation.hpp"
While going through the augmentation code, I encountered [this](https://github.com/RishabhGarg108/models/blob/27c481426958b6090ec250a23a0f5cbf3aefeeef/augmentation/augmentation.hpp#L179) line. I am wondering if it should be "the augmentation class should have access ..."?

[2021-02-19 07:04] kartikdutt18 commented on #44
Right, I gave that access so that when we load images in Object Detection class they can be resized else we can create a matrix for them.

[2021-02-19 07:07] RishabhGarg108 commented on #44
Sure, I will do it. Thanks for the quick response :-)

[2021-02-19 07:30] kartikdutt18 opened #46 "Fix build."
With recent changes in mlpack such as switches in serialisation etc. The azure build is failing hence the build needs to be fixed.

[2021-02-20 08:06] #44 closed

[2021-02-20 12:19] RishabhGarg108 opened #48 "Error while building on M1 macbook"
I am getting the following error while building from source on M1 macbook air.

[code]

Please help me figure out this error.

[2021-02-20 12:43] shrit commented on #48
Why it is trying to use `x86_64` linker on `arm64` machine?

[2021-02-20 12:46] RishabhGarg108 commented on #48
I have absolutely no clue. It was also strange for me.
I tried adding `arch -arm64` prefix to make command but still got no luck :(

[2021-02-20 12:46] shrit commented on #48
Are you building mlpack? what is `model_test`?
Can you print the `cmake`?

[2021-02-20 12:50] RishabhGarg108 commented on #48
I am building the "models" repository. Mlpack is already built on my system.

[code]

[2021-02-20 12:50] shrit commented on #48
@RishabhGarg108  Sorry, I meant the source code

[2021-02-20 12:52] shrit commented on #48
Also looking at the first notice it shows that you are trying to build for `x86_64`, please, have a look here: `building for macOS-x86_64 but attempting to link with file built for macOS-arm64`

[2021-02-20 12:59] RishabhGarg108 commented on #48
I am building the latest mlpack/models. So you can look at the cmake source [here](https://github.com/mlpack/models/blob/master/CMakeLists.txt)

I simply followed the build instructions from the README and did nothing fancy. Thats why I was confused why it was building for `x86_64`.

[2021-02-20 13:04] RishabhGarg108 commented on #48
I am guessing that it is having some issue with the boost libraries.

[2021-02-20 13:07] shrit commented on #48
I will give a closer look at the `cmake` file.
Is `boost` still required for these models? I think in the meanwhile you can start by removing the unnecessary boost libraries.

[2021-02-20 13:11] RishabhGarg108 commented on #48
Actually I am new to this project so I don't know much. Maybe @kartikdutt18 could give you better insights.

[2021-02-20 13:13] kartikdutt18 commented on #48
The tests currently use boost so to remove it, we would have to transfer them to catch. I am trying to fix the build right now...after that I will raise a PR or an issue for shifting to catch as well. Also the repo uses boost regex (will also need to transfer that).

[2021-02-20 14:00] shrit commented on #48
Even if we remove all boost, this will not resolve the issue, Actually, the message says that it is not able to link with boost libraries since they are built for `arm64`. If I understand the issue right your cmake is trying to build for `x86_64`.

[2021-02-20 14:07] RishabhGarg108 commented on #48
I am not a cmake expert, but while looking at it, I found [this](https://github.com/mlpack/models/blob/151d052ba537c889ea9195c1eaaacb8f403f16d6/CMakeLists.txt#L33) block of code. Here, it is handling for MacOSX, and lower versions. But there is nothing for MacOS 11. Could this be a potential cause ?

[2021-02-20 15:05] shrit commented on #48
I have never used clang or macOS, I think you need to check if this block is executing, if not I do not see how it might affect the build.
Also, it seems that cmake is able to find the compiler and the entire toolchain, I do not understand why it is trying to cross-compile into a different architecture
Try to comment things out inside the CMake file, delete the entire build directory and restart t

[2021-02-20 17:15] shrit commented on #43
@Nerdyvedi Please do not hesitate in adding this implementation, all models are welcomed.

[2021-02-23 02:20] RishabhGarg108 commented on #48
@shrit , I dug a bit deeper and found out something.

This issue arose after I updated my cmake. My cmake version is 3.19.5. So, starting from version 3.19.2, cmake has provided `CMAKE_APPLE_SILICON_PROCESSOR` environment variable that can be used to explicitly specify the architecture.

I also faced an error similar to what I am facing here while compiling the mlpack main repository. But there I

[2021-02-27 07:21] heisenbuug commented on #48
I can start working on migrating tests to catch, I even looked at catch...
@kartikdutt18 I want to confirm whether we want to use `catch v3` or `catch v2`?

[2021-02-28 20:25] zoq commented on #48
Is there a catch version 3, I think there is only https://github.com/catchorg/Catch2, maybe I'm missing something.

[2021-03-08 22:57] InterTriplete2010 commented on #42
Hi @rcurtin,

Sorry to ask this question in a thread that has already been closed, but I got caught up with other things and only last week I was able to get back to work with RNN.

The input layer is now very clear (thank you for the explanation). One other thing that I am having problems to wrap my head around is how to set-up the target labels with the MEL coefficients. I thought the arma::cube

[2021-03-10 18:15] InterTriplete2010 commented on #42
Sorry, just adding one more thing in order to see if I am approaching the problem in the correct way. I am trying to solve a Many-to-One Sequence problem here, so based on what I read on Keras (I know each package works in different way, but I figured it doesn't hurt to see how they operate) the arma::cube for the labels should be how I described it above, that is a single vector with N columns.

[2021-03-10 18:57] InterTriplete2010 commented on #42
Sorry, just adding that I found a similar example in keras (I know each package is doing things differently, but I figures it won't hurt to check it) and they have as vector as input for the labels and not a 3D matrix.

[2021-03-12 00:01] InterTriplete2010 opened #50 "Question about the response array for a LSTM (many-to-one) model"
Hello,

So I have been trying to learn how to use LSTM with mlpack. I am using a simple example that I found online (https://stackabuse.com/solving-sequence-problems-with-lstm-in-keras/) that was implemented in keras. In this example, the training cube matrix is composed of 1 feature, 15 samples and 3 time steps. Each sample is composed of 3 numbers. Say for instance that the first sample is [1 2

[2021-03-13 06:45] RishabhGarg108 commented on #48
Hello, did anyone found the root of this problem ? I am still not able to figure out why it is happening :(

[2021-03-13 08:40] shrit commented on #48
@RishabhGarg108 it might worth it that you compile a hello world program in C++ using CMake and clang.
Then use `file ./hello_world`  in order to see what is the type of binaries.
Let me know about the results.

[2021-03-13 08:43] RishabhGarg108 commented on #48
@shrit I will try to do that and will share the results 👍

[2021-03-19 15:12] #46 closed

[2021-03-20 17:59] rcurtin commented on #50
Hey @InterTriplete2010, I believe that our RNN responses require a response for each individual time step.  So, in your example above, if the input point is `[1 2 3]` and your intention is that the RNN returns `6` at the end of that sequence, try a responses Cube with 3 slices, where the responses for that point are `[1 3 6]`.  (In essence, at each time step, the response is the sum of the input s

[2021-03-20 19:06] Rajat-Rao-R commented on #22
Hey @kartikdutt18 wanted to start from somewhere , found this . Is it still open ?

[2021-03-21 05:56] kartikdutt18 commented on #22
Hey @Rajat-Rao-R, Yes its open. @heisenbuug opened a promising PR #33 for this issue. Maybe you can build upon that / or take inspiration from it.

[2021-03-21 10:42] Rajat-Rao-R commented on #22
@kartikdutt18 I have some doubt
You were referring to roboflow   [https://roboflow.com/convert/coco-json-to-pascal-voc-xml](roboflow) , here the conversions are model specific but the conversion that heisenbuug did is  csv to xml only
So do we need to be specific or we just need conversion mechanism .

[2021-03-21 10:45] kartikdutt18 commented on #22
I think we should be able to accommodate both. We can have static function that simply converts data from one format to other. Other than that, we can model / dataset specific conversion. This can be done by having separate functions or we can pass two strings and store a map that internally calls the correct function. Let me know what you think.

[2021-03-21 10:50] Rajat-Rao-R commented on #22
Yeah this will be better , because it will keep things clean and we can accommodate different models smoothly then .

[2021-03-21 11:33] deeplearningera commented on #22
@kartikdutt18 Can I also work upon?

[2021-03-21 11:34] kartikdutt18 commented on #22
Sure. Feel free to pursue this.

[2021-03-21 11:36] deeplearningera commented on #22
Thanks!

I have also commented [here](https://github.com/mlpack/models/pull/33), please acknowledge it.

[2021-03-21 11:38] kartik-dutt commented on #22
You need to ask @heisenbuug for that.

[2021-03-21 11:39] kartikdutt18 commented on #22
You need to ask @heisenbuug for that. If he gets a chance, he will reply to you on the thread.

[2021-03-21 11:39] deeplearningera commented on #22
Okay

[2021-03-21 11:45] deeplearningera commented on #22
Tell me one thing, if he acknowledges and I make appropriate changes, then will it be considered as a PR?

Actually I am new to open source.

[2021-03-21 22:58] InterTriplete2010 commented on #50
Hi @rcurtin, thank you for your response. Unfortunately, it doesn't seem to be working. I tried both ways ([0 0 6] and [1 3 6]), but no luck. I hope I am not doing something stupid, even though the input and response cube appear to be correct to me.

Something that I was reading in the documentation of RNN (I hope I didn't misinterpreted the parameters of RNN) is that it should be possible to pred

[2021-03-22 05:14] heisenbuug commented on #22
@deeplearningera this is almost done, you can pick any new type of conversion by going through the issue.
If you have any doubts regarding how to implement you can ping me anytime...

[2021-03-23 00:45] rcurtin commented on #50
Ahh, sorry that my example didn't work.  Here are a couple of examples of RNNs being used in mlpack:

https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/rnn_reber_test.cpp
https://github.com/mlpack/examples/blob/master/lstm_stock_prediction/lstm_stock_prediction.cpp
https://github.com/mlpack/examples/blob/master/lstm_electricity_consumption/lstm_electricity_consumption.cpp

I'm not sure

[2021-03-23 00:52] InterTriplete2010 commented on #50
Unfortunately I have already looked at these examples and none of them use a single mode. And I have already tried to use a response with 1 row, 15 columns, and 1 slice (That was the example that I posted). That didn't return any good result. Additionally, when I test the model, it still returns 3 output, instead of one. I really hope this can be done with mlpack, because I really don't want to sw

[2021-03-23 15:56] InterTriplete2010 commented on #50
Thank you for sharing this code with me. Yes, it seems to be identical to mine. As a matter of fact the results are similar, that is the prediction output increases. As you increase the number of neurons of the LSTM layer (I tried up to 1000), results get better too, but they are still far away from the correct prediction and the validation loss is obviously pretty high. However, what worries me i

[2021-03-23 22:55] rcurtin commented on #50
I'm not sure the network structure I used there is the best for this task, but I agree that if the RNN is in `single` mode that we should get back only one prediction.  So I wonder if maybe there is a bug there; but unfortunately the internal implementation of `RNN` is not something I know closely, so I am not sure what is going on.

[2021-03-23 23:02] zoq commented on #50
Somehow the issue must have fallen under my table, I'll have to take a closer look at the code, in the meantime do you mind to share the keras example code you used as comparison?

[2021-03-23 23:06] InterTriplete2010 commented on #50
Here it is. Thank you both for your help.

from numpy import array
from keras.preprocessing.text import one_hot
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers.core import Activation, Dropout, Dense
from keras.layers import Flatten, LSTM
from keras.layers import GlobalMaxPooling1D
from keras.models import Model
from keras.layers.embeddin

[2021-03-23 23:58] zoq commented on #50
Thanks for the code!

[2021-03-25 15:51] zoq commented on #50
Just a quick update, I started to look into the issue, but it will probably be over the weekend before I can provide a solution here.

[2021-04-05 15:31] InterTriplete2010 commented on #50
Hi @zoq, just wondering if you got a chance to look at the code. No pressure at all. I am just eager to try it, when you are done :-) Thank you so much again for your help.

[2021-04-12 11:14] RishabhGarg108 commented on #48
K

[2021-04-21 13:57] Aakash-kaushik opened #54 "Namespace and Include guards"
Points to Discuss:

1. For now the models repo uses mlpack namespace in some files and just plain nothing in some so should this repository have its namespace in all the files or just carry the mlpack namespace.
2. the include guard in all the files follows a format as MODELS_FILENAME.HPP, I propose that it follows a similar structure such as mlpack which will be MODELS_FOLDER_NAME_FILENAME.HPP.

[2021-04-22 21:50] rcurtin commented on #54
Definitely agreed on both points!  Thanks for bringing it up.  Personally I think it would be fine to put things here in the `mlpack::models` namespace, but whatever we choose is fine.  (It should definitely be in a namespace.)

Good point on the include guards too---I agree with your proposal. :+1:

[2021-04-23 04:32] Aakash-kaushik commented on #54
Great, I think `mlpack::models` is fine and i will open a PR soon to include both of these changes.

[2021-05-04 16:54] #43 closed

[2021-05-12 15:54] #50 closed

[2021-05-19 11:54] #48 closed

[2021-05-23 21:02] Aakash-kaushik opened #58 "Improve description for the repository"
![image](https://user-images.githubusercontent.com/39410692/119276457-fa178280-bc37-11eb-8639-641ad1c99203.png)
So while searching the models repository on google and even when someone comes to take a look they see the description to understand what the repository is about and so after some talk we came up with a simple suggestion to change it to - "Models built with mlpack"

Let me know your sugg

[2021-05-23 21:28] birm commented on #58
I like that, I've changed it at least temporarily

[2021-05-23 21:34] rcurtin commented on #58
I think "models built with mlpack" is great and a big improvement. :+1:

[2021-05-23 21:36] zoq commented on #58
Thanks for opening the issue, "Models built with mlpack" sounds good to me as well.

[2021-05-24 04:01] Aakash-kaushik commented on #58
Thanks everyone, so i will just let this issue be open for a week for anyone else to give their suggestions.

[2021-05-24 08:13] Aakash-kaushik commented on #58
![image](https://user-images.githubusercontent.com/39410692/119317683-fdd9f200-bc95-11eb-8c1b-c460fc34ba3d.png)
Just wanted to show this.
Looks so much better now !

[2021-05-27 04:16] #54 closed

[2021-05-27 04:19] kartikdutt18 opened #59 "Add crons to update dependencies."
Hey everyone,

This issue aims to add cron jobs to update dependencies of the repo such as catch. This has been implemented in mlpack/mlpack using Github Actions.

Refer : https://github.com/mlpack/mlpack/pull/2780
Regards.

[2021-05-27 15:33] Aakash-kaushik opened #60 "Restructure of the model files"
There are two things i would like to talk about.
1. Currently the structure for the models inthe repo is something like this
[code]
This means that when a user wants to use say models if it was installed which we don't have right now someone would need to write
[code]
I propose to change the structure to something like this:
[code]
so the importing for the user becomes something like
[code]
2. Hav

[2021-05-27 15:40] zoq commented on #60
Just to see if I get this right, so this means that we would put the `hpp, _impl.hpp` files directly into https://github.com/mlpack/models/tree/master/models instead of having them in another folder?

[2021-05-27 15:47] Aakash-kaushik commented on #60
Yes

[2021-05-27 15:48] Aakash-kaushik commented on #58
Closing this as there isn't much feedback on this.

[2021-05-27 15:48] #58 closed

[2021-05-27 16:06] kartikdutt18 commented on #60
This was intentional, To do two things :
1. Reduce file size : Its not generally advisable to have a file with very large code. So In the .hpp file we could include multiple implementation files if they don't share code. Example, YOLOv5 and YOLOv1 might not have much in common, so we have an implementation file for v1, v2 and one for v5.
2. Directory looks cleaner : Rather than having a lot of fil

[2021-05-27 16:15] rcurtin commented on #58
Thanks @Aakash-kaushik for driving this effort!  It does look much better now. :+1:

[2021-05-28 07:37] Aakash-kaushik commented on #60
@kartikdutt18 So what i understand is that if you want to have a file like `computer_vision_helper.hpp` it would be hard to implement something like that afterwards? and should be kept in mind whenver a model is implemented.
Though I am a lot more clueless here than what i started with.

[2021-06-11 20:19] shrit commented on #14
Closing this issue as it has been resolved by [#156](https://github.com/mlpack/examples/pull/156)

[2021-06-11 20:19] #14 closed

[2021-06-28 17:32] Aakash-kaushik opened #66 "Distribution of preTrained models"
Creating an issue to discuss how to distribute pretrained model files.
cc: @rcurtin

gdrive link for resnet models: https://drive.google.com/drive/folders/15qqEhZnylW6OTk7HYrwOWiXzTiAK8-h6?usp=sharing

[2021-06-28 19:51] rcurtin commented on #66
We'll need to modify the website build scripts just a little bit.  I think this should probably be separate from the `datasets/` directory.  (For that, the workflow when building the website is just that we get a file `datasets.tar.gz`, which is hosted locally under a different domain name on `mlpack.org`, as well as on Zenodo, and unpack it.)  I guess we can do the same thing here... just make a

[2021-06-28 19:57] Aakash-kaushik commented on #66
@rcurtin i also lean more towards the idea of hosting static sites rather than having the whole process of expanding zips everytime we build the sites, also doesn't makes sense.
As you said we can have a simple place where we can just dump files. And if you want just create one which can maybe have directories as url paths?
Say `mlpack.org/datasets` and similar for models ?

[2021-06-28 19:58] Aakash-kaushik commented on #66
Thanks for uploading the models for time being

[2021-06-28 20:12] rcurtin commented on #66
Yeah, I wonder why I didn't use a subdomain in the first place...

It would be way easier to set up `models.mlpack.org/` as opposed to `mlpack.org/models/`, since all of `mlpack.org/` will be rebuilt every night and I'd need to make sure that the `models/` URL correctly forwarded.  So unless there is some reason not to that I overlooked, I think it would fine to host as, e.g., `models.mlpack.org/r

[2021-06-28 20:14] Aakash-kaushik commented on #66
I believe `models.mlpack.org` would be a better choice then.

[2021-06-29 17:35] Aakash-kaushik commented on #66
Hey @rcurtin let me know when we have a final place where we put the models, that way I would update the current code to account for the change.

[2021-06-29 19:32] rcurtin commented on #66
Done: http://models.mlpack.org/resnet/

The datasets still need to be changed though.  I guess that is not relevant to this issue though, so we can close this one.  Let me know if there is more I should add to that subdomain. :+1:

[2021-06-29 19:32] #66 closed

[2021-06-29 20:25] Aakash-kaushik commented on #66
Thank you so much ! :tada:

[2021-07-03 09:05] Aakash-kaushik opened #71 "Addition of MobileNet V1"
Creating a issue to track the progress of Mobilenet and discuss things before we have a PR for this.

Created: https://github.com/mlpack/mlpack/pull/3007 to add depthwise seperable convolutions.
And we still don't have a final reference from which we are going to build mobilenet from but that's secondary for now, but i will keep looking for it.

### Tasks.
1. [ ] Get https://github.com/mlpack/mlpa

[2021-07-06 18:03] Aakash-kaushik commented on #71
Hi, So the models present on the repos we talked about yesterday doesn't have the param `alpha` and `depthMultiplier` used so we will only be able to provide weights weights for a single config with a single image size accepted, as the image size given to mobilenet matters.
and the tool i talked about [mmdnn](https://github.com/microsoft/MMdnn) that can only take static image sizes and the things

[2021-07-06 19:05] kartikdutt18 commented on #71
I don't mind if we only provide weights only for one model config.

[2021-07-06 19:11] Aakash-kaushik commented on #71
Should be doable then.

[2021-07-07 08:02] Aakash-kaushik commented on #71
Mobilenet has all these configs available: https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md ignore the quantized ones, but on;y if we somehow manage to import weights from TensorFlow.
For now, I will start with the implementation of mobilenet and care less about how we are going to port the weights as that hinders a lot when I try to code the actual architecture.

[2021-07-07 12:50] Aakash-kaushik commented on #71
I have also opened #72 to add mobilenet_v1

[2021-08-03 04:54] #59 closed

[2021-08-03 08:54] #60 closed

[2021-08-18 20:12] #71 closed

[2021-08-20 01:00] KishenSharma6 commented on #48
@RishabhGarg108 were you able to resolve this? I'm running into a similar issue with my m1 Mac where cmake is building for macOS-x86_64 but attempting to link with file built for macOS-arm64

[2021-08-20 17:00] KishenSharma6 commented on #48
Nvm resolved, just needed to set the following in CMAKE for arm64

set(CMAKE_REQUIRED_LINK_OPTIONS "-arch;arm64")

[2021-09-11 15:24] Aakash-kaushik opened #74 "Tracker for improvements in models doc."
Following are some of the things i would work on:

- [ ] Trying to move the indexing on the left as side pane or something.
- [ ] Avoiding full path names, it print jenkins/docs and all of that as file path.
- [ ] take a look at fixed-width fonts.
- [ ] Maybe swap the theme for a more subtle one.

Feel free to point more things if you notice any and here is the [docs](https://models.mlpack.org/doc

[2021-09-11 20:30] zoq commented on #74
Can we use the same blue as https://www.mlpack.org/docs.html?

[2021-10-19 06:48] Aakash-kaushik commented on #74
I have added the keep open tag, will work on it as soon as I get the time.